# Backend (Atılmayacak)
backend/
sixpack30-backend-main/

# Metadata and Junk files
.DS_Store
._*
Desktop.ini
Thumbs.db

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Temp AI files
scratch/
analyze_results.txt
analysis_output.txt
analysis_output_2.txt
analysis_results.md
all_comments.txt
analyze_results.txt


# Assets (Moved to CDN)
assets/
